Analyze>DoM v.1.1.4, "Detect Molecules", DOM.Detect_Molecules
Analyze>DoM v.1.1.4, "Reconstruct Image", DOM.Reconstruct_Image
Analyze>DoM v.1.1.4, "-"
Analyze>DoM v.1.1.4, "Drift Correction", DOM.DriftCorrection
Analyze>DoM v.1.1.4, "Load and Apply Drift Correction", DOM.LoadDriftCorrection
Analyze>DoM v.1.1.4, "-"
Analyze>DoM v.1.1.4>Z axis (astigmatism), "Make Z calibration", DOM.Z_Calibration
Analyze>DoM v.1.1.4>Z axis (astigmatism), "Calculate Z values", DOM.Z_Calculation
Analyze>DoM v.1.1.4>Z axis (astigmatism), "Save Z calibration", DOM.Z_Calibration("save")
Analyze>DoM v.1.1.4>Z axis (astigmatism), "Load Z calibration", DOM.Z_Calibration("load")
Analyze>DoM v.1.1.4>Z axis (astigmatism), "Show stored Z calibration", DOM.Z_Calibration("show")
Analyze>DoM v.1.1.4, "-"
Analyze>DoM v.1.1.4>Chromatic correction, "Make chromatic calibration", DOM.ColorCorrection
Analyze>DoM v.1.1.4>Chromatic correction, "Table correction", DOM.ColorCorrection("table")
Analyze>DoM v.1.1.4>Chromatic correction, "Image or stack correction", DOM.ColorCorrection("image")
Analyze>DoM v.1.1.4>Chromatic correction, "Save current chromatic calibration", DOM.ColorCorrection("save")
Analyze>DoM v.1.1.4>Chromatic correction, "Load chromatic calibration", DOM.ColorCorrection("load")
Analyze>DoM v.1.1.4>Chromatic correction, "Show stored chromatic calibration", DOM.ColorCorrection("show")
Analyze>DoM v.1.1.4, "-"
Analyze>DoM v.1.1.4, "Link Particles to Tracks", DOM.Link_Particles
Analyze>DoM v.1.1.4, "Import tracks from MTrackJ (old)", DOM.Import_MTrackJ
Analyze>DoM v.1.1.4, "Export tracks to MTrackJ (old)", DOM.Export_MTrackJ
Analyze>DoM v.1.1.4, "-"
Analyze>DoM v.1.1.4, "Sort Results", DOM.Sort_Results
Analyze>DoM v.1.1.4, "-" 
Analyze>DoM v.1.1.4, "Save Particles (old DoM .tif format)", DOM.Save_Particles
Analyze>DoM v.1.1.4, "Load Particles (old DoM .tif format)", DOM.Load_Particles
